/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles add by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 239, 213);
    list-style-type: none;
}

/* General Header*/
header {
    position: fixed;
    font-family: 'montserat', sans-serif;
    box-shadow: 0 2px 3px rgb(108, 19, 19);
    width: 100%;
    background-color: rgb(108, 19, 19);
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

/*Remove the anchor decoration from the header*/
header a {
    text-decoration: none;
    color: rgb(250, 235, 215);
}

/*Navigation*/
.top-navigation {
    align-items: right;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 3px rgb(108, 19, 19);
    overflow: hidden;
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
}

/*Anchor elements navigation*/
.top-navigation a {
    color: white;
    text-align: left;
    text-decoration: none;
    font-family: 'montserat', sans-serif;
    display: block;
    padding: 14px 16px;
    border-top: 1px solid rgb(255, 239, 213);
    border-bottom: 1px solid rgb(255, 239, 213);
}

/*Show navigation items when the togle nav is selected*/
#toggle-nav:checked~.top-navigation {
    display: block;
}

#toggle-nav {
    display: none;
}

.toggle-nav-label {
    font-size: 2rem;
    color: rgb(250, 235, 215);
    margin-right: 10px;
}

/*Hover navigation*/
.top-navigation a:hover {
    background-color: rgba(152, 93, 93, 0.5);
}

/*Highlight activated navigation tab*/
.active {
    background-color: rgb(108, 19, 19);
}

/*Header 1 */
h1 {
    font-family: 'montserat', sans-serif;
    text-transform: uppercase;
}

/*Header 2 */
h2 {
    font-family: 'montserat', sans-serif;
    text-transform: uppercase;
}

/*Header 3 */
h3 {
    font-family: 'montserat', sans-serif;

}

/*Hero images*/

/*Hero image seven chakras*/
#hero-about-chakras {
    background: url(../images/sitting-chakra.png) no-repeat center center/cover;
}

/*Hero image seven chakras*/
#hero-seven-chakras {
    background: url(../images/seven-chakras.jpg) no-repeat center center/cover;
}

/*Hero image seven chakras*/
#hero-balance-chakras {
    background: url(../images/seven-chakras.jpg) no-repeat center center/cover;
}

/*Hero image styling*/
#hero-about-chakras,
#hero-seven-chakras,
#hero-balance-chakras {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

/*Main*/
main{
   flex: 1 0 auto;
}

/*Chakra header*/
.chakra-header {
    font-family: 'montserrat', sans-serif;
}

/*Generic styles to add padding and avoid br*/

.line-break-bottom {
    padding-bottom: 10px;
}

.line-break-top {
    padding-top: 10px;
}

.line-break-top-bottom {
    padding: 10px;
}

/*Padding left, right, top and bottom for around the main containers*/
.seven-chakras-container,
.about-chakras-container,
.balancing-container,
.contact-container {
    padding: 25px 25px;
}

/* Seven chakras page*/
/*border colour around the div for each of the seven chakras*/
#root {
    border: 1px solid rgba(255, 0, 0, 0.5);
    padding: 20px;
}

#sacral {
    border: 1px solid rgba(255, 165, 0, 0.5);
    padding: 20px;
}

#solar-plexus {
    border: 1px solid rgba(255, 255, 0, 0.5);
    padding: 20px;
}

#heart {
    border: 1px solid rgba(0, 255, 0, 0.5);
    padding: 20px;
}

#throat {
    border: 1px solid rgba(48, 213, 200, 0.5);
    padding: 20px;
}

#third-eye {
    border: 1px solid rgba(0, 0, 139, 0.5);
    padding: 20px;
}

#crown {
    border: 1px solid rgba(143, 0, 255, 0.5);
    padding: 20px;
}

/* seven chakras icon image sizing*/
.seven-chakras-container img {
    height: 40px;
    width: 40px;
}

/* seven chakras icon image aligning*/
.seven-chakras-container h3,
.seven-chakras-container img {
    display: inline-block;
    vertical-align: middle;
}

/*mantra styling elements*/
.mantra {
    font-family: 'lora', serif;
}

#root .mantra {
    background-color: rgba(255, 0, 0, 0.2);
}

#sacral .mantra {
    background-color: rgba(255, 165, 0, 0.2);
}

#solar-plexus .mantra {
    background-color: rgba(255, 255, 0, 0.2);
}

#heart .mantra {
    background-color: rgba(0, 255, 0, 0.2);
}

#throat .mantra {
    background-color: rgba(48, 213, 200, 0.2);
}

#third-eye .mantra {
    background-color: rgba(0, 0, 139, 0.2);
}

#crown .mantra {
    background-color: rgba(143, 0, 255, 0.2);
}

.seven-chakras-container table {
    margin: 10px;
}

.seven-chakras-container table th {
    text-align: left;
}

.seven-chakras-container table td {
    width: 150px;
}

/*Balancing page*/
.techniques {
    padding: 20px;
    background-color: rgb(108, 19, 19, 10%);
    text-align: center;
}

.techniques h3,
.techniques i {
    color: rgb(108, 19, 19);
}

.techniques i {
    font-size: 200%;
    margin: 20px;
}

.eight-techniques {
    display: flex;
    flex-wrap: wrap;
}

/*Contact page*/
.contact-form {
    display: flex;
    flex-direction: column;
}

/*Footer*/
footer {
    box-shadow: 0 -2px 3px rgb(108, 19, 19);
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
}

#social-media-network {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    padding: 10px 0;
    list-style-type: none;
}

/*Remove the anchor decoration from the footer*/
footer a {
    color: rgb(250, 235, 215);
    font-size: 110%;
}

/*Media queries */

/*Tablets - 768 pixels and up*/
@media screen and (min-width: 768px) {

    header {
        width: 100%;
        font-size: inherit;
    }

    /*Navigation*/
    .top-navigation {
        display: block;
        width: 100%;
        top: 37px;
    }

    .top-navigation a {
        float: left;
        border-right: 2px solid papayawhip;
        border-top: none;
        border-bottom: none;
    }

    /*Align navigation items horizontally*/
    .top-navigation li {
        display: inline;
    }

    .toggle-nav-label {
        display: none;
    }

    /*Hero image styling*/
    #hero-about-chakras,
    #hero-seven-chakras,
    #hero-balance-chakras {
        height: 400px;
    }

    /*Balancing page*/
    .techniques {
        width: 50%;
    }
}

/*Laptop - 992 pixels and up*/

/*Desktop - 1200 pixels and up*/