/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles add by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: papayawhip;
}

/* General Header*/
header {
    position: fixed;
    font-family: 'montserat', sans-serif;
    box-shadow: 0 2px 3px pink;
    width: 100%;
    background-color: rgb(108, 19, 19);
}

/*Remove the anchor decoration from the header*/
header a {
    text-decoration: none;
    color: antiquewhite;
}

/*Header 1 */
h1 {
    font-family: 'montserat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/*Navigation*/
.top-navigation {
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
    position: sticky;
}

/*Anchor elements navigation*/
.top-navigation a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'montserat', sans-serif;
    display: block;
    padding: 14px 16px;
    border-right: 2px solid grey;
}

/*Hover navigation*/
.top-navigation a:hover {
    background-color: rgba(152, 93, 93, 0.5);
}

/*Align navigation items horizontally*/
.top-navigation li {
    display: inline;
}

/*Highlight activated navigation tab*/
.active {
    background-color: rgb(108, 19, 19);
}

/*Main*/

/*Hero image seven chakras*/
#hero-seven-chakras {
    background: url(/assets/images/seven-chakras.jpg) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

/*Chakra header*/
.chakra-header {
    font-family: 'montserrat', sans-serif;
}

.seven-chakras-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

/* seven chakras icon image sizing*/
.seven-chakras-container img {
    height: 40px;
    width: 40px;
}

/* seven chakras icon image aligning*/
.seven-chakras-container h3,
.seven-chakras-container img 
{
    display: inline-block;
    vertical-align: middle;
}

/*mantra styling elements*/
.mantra {
    font-family: 'lora', serif;
}

#root .mantra{
    background-color: rgba(255, 0, 0, 0.2);
}

#sacral .mantra{
    background-color: rgba(255, 165, 0, 0.2);
}

#solar-plexus .mantra{
    background-color: rgba(255, 255, 0, 0.2);
}
#heart .mantra{
    background-color: rgba(0, 255, 0, 0.2);
}

#throat .mantra{
    background-color: rgba(48, 213, 200, 0.2);
}

#third-eye .mantra{
    background-color: rgba(0, 0, 139, 0.2);
}
#crown .mantra{
    background-color: rgba(143, 0, 255, 0.2);
}

.seven-chakras-container p{
    
}

.seven-chakras-container table th {
    text-align: left;
}

.seven-chakras-container table td {
    width: 150px;
}

/*Footer*/
footer {
    box-shadow: 0 -2px 3px pink;
    background-color: black;
    height: 40px;
}

/*Remove the anchor decoration from the footer*/
footer a {
    text-decoration: none;
    color: antiquewhite;
}