/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles add by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: papayawhip;
}

/* General Header*/
header {
    position: sticky;
    font-family: 'montserat', sans-serif;
    box-shadow: 0 2px 3px pink;
}

/*Remove the anchor decoration*/
header a {
    text-decoration: none;
    color: black;
}

/*Header 1 */
h1 {
    font-family: 'montserat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/*Hero image seven chakras*/
#hero-seven-chakras {
    background: url(../images/seven-chakras.jpg) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

/*Navigation*/
.top-navigation {
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
    position: sticky;

}

/*Anchor elements navigation*/
.top-navigation a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'montserat', sans-serif;
    display: block;
    padding: 14px 16px;
    border-right: 2px solid grey;

}

/*Hover navigation*/
.top-navigation a:hover {
    background-color: rgba(152, 93, 93, 0.5);
}

/*Align navigation items horizontally*/
.top-navigation li {
    display: inline;
}

/*Highlight activated navigation tab*/
.active {
    background-color: rgb(108, 19, 19);
}

/*Main*/
Main {
    .seven-chakras-container {
        left: 10px;
    }

    /*Chakra header*/
    .chakra-header {
        font-family: 'montserrat', sans-serif;
    }

    #root img{
        margin-left: 10px;
        height: 40px;
        width: 40px;
    }

    #root h3, #root img{
        display: inline-block;
    }

    .mantra {
        font-family: 'lora', sans-serif;
    }
}

/*Footer*/
footer {
    background-color: rgb(108, 19, 19);
}